Alphabet and Letters Patterns

In [2]:
ascii_number=65
rows=7
for i in range(0,rows):
    for j in range(0,i+1):
        charecter=chr(ascii_number)
        print(charecter,end=" ")
        ascii_number +=1
    print(" ")

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [6]:
word="Python"
x=" "
for i in word:
    x+=i
    print(x)

 P
 Py
 Pyt
 Pyth
 Pytho
 Python

In [12]:
print("Eqivalent triangle:")
size=7
ascii_number=65
m=(2*size)-2
for i in range(0,size):
    for j in range(0,m):
        print(end=" ")
    m=m-1
    for i in range(0,i+1):
        charecter=chr(ascii_number)
        print(charecter,end=" ")
        ascii_number+=1
    print("")

Eqivalent triangle:
            A
           B C
          D E F
         G H I J
        K L M N O
       P Q R S T U
      V W X Y Z [ \

In [16]:
charecter="V"
char_ascii_no=ord(charecter)
for i in range(0,5):
    for j in range(0,i+1):
        user_check=chr(char_ascii_no)
        print(user_check,end=" ")
    print()

V
V V
V V V
V V V V
V V V V V

In [17]:
rows=10
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(i * j,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [22]:
rows=9
for i in range(1,rows):
    for j in range(i,0,-1):
        print(i**j,end=" ")
    print()

1
4 2
27 9 3
256 64 16 4
3125 625 125 25 5
46656 7776 1296 216 36 6
823543 117649 16807 2401 343 49 7
16777216 2097152 262144 32768 4096 512 64 8

In [23]:
rows=9
for i in range(1,rows):
    for j in range(-1+i,-1,-1):
        print(format(2**j,"4d"),end=" ")
    print(" ")

   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2    1
  32   16    8    4    2    1
  64   32   16    8    4    2    1
 128   64   32   16    8    4    2    1

In [29]:
rows=9
for i in range(1,rows):
    for j in range(i-1,-1,-1):
        print(2**j,end=" ")
    print(" ")

1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

Random number pattern

In [34]:
rows=9
for i in range(1,rows):
    for j in range(0,i):
        print(2 **j,end=" ")
    for j in range(i-2,-1,-1):
        print(2**j,end=" ")
    print()

1
1 2 1
1 2 4 2 1
1 2 4 8 4 2 1
1 2 4 8 16 8 4 2 1
1 2 4 8 16 32 16 8 4 2 1
1 2 4 8 16 32 64 32 16 8 4 2 1
1 2 4 8 16 32 64 128 64 32 16 8 4 2 1

In [45]:
current_name=1
stop=2
for i in range(3):
    for j in range(1,stop):
        print(current_name,end=" ")
        current_name +=1
    print(" ")
    stop +=2

1
2 3 4
5 6 7 8 9

In [49]:
current_name=1
stop=2
for i in range(4):
    for j in range(1,stop):
        print(current_name,end=" ")
        current_name +=1
    print(" ")
    stop +=1

1
2 3
4 5 6
7 8 9 10

In [52]:
current_name=10
stop=2
for i in range(5):
    current_name=10

    for j in range(1,stop):
        print(current_name,end=" ")
        current_name -=2
    print(" ")
    stop+=1

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2