In [2]:
print("Today is a good day to learn Python")
print("python is fun")
print("Python's string are easy to use")
print('We can even include "quotes" in strings')
print("Hello"+"World")
greeting="Hello"
name=input("Please enter your name")
print(greeting+" "+name)
name="abhi"
print(greeting+" "+name)
age=24
print(age)
print(type(greeting))
print(type(age))
age="2 years"
print(age)
print(type(age))
age_in_words="2 Years"
print(name+"is"+age+"Years old")
print(type(age))

Today is a good day to learn Python
python is fun
Python's string are easy to use
We can even include "quotes" in strings
HelloWorld
Please enter your namebishal
Hello bishal
Hello abhi
24
<class 'str'>
<class 'int'>
2 years
<class 'str'>
abhiis2 yearsYears old
<class 'str'>

In [3]:
splitstring="This string has been\split over\nseveral\nlines"
print(splitstring)
tabbedstring="1\t2\t3\t4\t5"
print(tabbedstring)
print('The pet shop owner said"No,no,\'e\'s uh,......he\'s resting".')
print("The pet shop owner said \"No,no,'e's uh,......he's resting\".")
print("""The pet shop owner said "No,no,'e's  uh,...he's resting".  """)
anotherSplitstring="""This string has been \
split over\
several lines"""
print(anotherSplitstring)

This string has been\split over
several
lines
1	2	3	4	5
The pet shop owner said"No,no,'e's uh,......he's resting".
The pet shop owner said "No,no,'e's uh,......he's resting".
The pet shop owner said "No,no,'e's  uh,...he's resting".
This string has been split overseveral lines

In [4]:
print("C:\\Users\\timechalka\\notes.txt")
print(r"C:\Users\timechalka\notes.txt")

C:\Users\timechalka\notes.txt
C:\Users\timechalka\notes.txt

In [5]:
a=12
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print()
for i in range(1,4):
    print(i)
#for i in range(1,a/b):
#    print(i)
for i in range(1,a//b):
    print(i)
i=1
print(i)
i=2
print(i)
i=3
print(i)
print()
print(a+b/3-4*12)
print(a+(b/3)-(4*12))
print((((a+b)/3)-4)*12)
print(((a+b)/3-4)*12)
c=a+b
d=c+3
e=d-4
print(e*12)
print()
print(a/(b*a)/b)

15
9
36
4.0
4
0

1
2
3
1
2
3
1
2
3

-35.0
-35.0
12.0
12.0
168

0.1111111111111111

In [6]:
parrot="Norwegian Blue"
print(parrot)
print(parrot[3])
print(parrot[4])
print(parrot[9])
print(parrot[3])
print(parrot[6])
print(parrot[8])
print()
print(parrot[-11])
print(parrot[-10])
print(parrot[-5])
print(parrot[-11])
print(parrot[-8])
print(parrot[-6])
print()
print(parrot[3-14])
print(parrot[4-14])
print(parrot[9-14])
print(parrot[3-14])
print(parrot[6-14])
print(parrot[8-14])
print()
print(parrot[0:6])
print(parrot[-14:-8])
print()
print(parrot[-4:-2])
print(parrot[-4:12])
print(parrot[4:-12])

Norwegian Blue
w
e

w
i
n

w
e

w
i
n

w
e

w
i
n

Norweg
Norweg

Bl
Bl

In [7]:
parrot="Norwegian Blue"
print(parrot[0:6])
print(parrot[3:5])
print(parrot[0:9])
print(parrot[:9])
print(parrot[10:14])
print(parrot[10:])
print(parrot[:6]+parrot[6:])
print(parrot[:])
print(parrot[4:-12])

Norweg
we
Norwegian
Norwegian
Blue
Blue
Norwegian Blue
Norwegian Blue

In [8]:
parrot="Norwegian Blue"
print(parrot[0:6:2])
print(parrot[0:6:3])

Nre
Nw

In [9]:
numbers="9,236;372:036 854,775;807"
separators=numbers[1::4]
print(separators)
values="".join(char if char not in separators else" " for char in numbers).split()
print([int(val) for val in values])

,;: ,;
[9, 236, 372, 36, 854, 775, 807]

In [10]:
letters="abcdefghijklmnopqrstuvwxyz"
backwards=letters[25:0:-1]
print(backwards)
print(letters[25::-1])
print(letters[::-1])
print(letters[16:13:-1])
print(letters[:-9:-1])
print(letters[4::-1])
print(letters[-4:])
print(letters[-1:])
print(letters[1:])
print(letters[:1])
print(letters[0])
print(letters[16:-13:-1])

zyxwvutsrqponmlkjihgfedcb
zyxwvutsrqponmlkjihgfedcba
zyxwvutsrqponmlkjihgfedcba
qpo
zyxwvuts
edcba
wxyz
z
bcdefghijklmnopqrstuvwxyz
a
a
qpo

In [11]:
string1="he's "
string2= "probably "
string3= "pining "
string4= "For the "
string5="fjrords "
print(string1 + string2 + string3 + string4 + string5)
print("he's " + "probably " "pining " "for the " "fjords")
print("Hello " * 5)
print("Hello "*( 5+4))
print("Hello "*5+" 4")
today="friday"
print("day" in today)
print("fri" in today)
print("thur" in today)
print("parrot" in "fjord")

he's probably pining For the fjrords
he's probably pining for the fjords
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello  4
True
True
False
False

In [12]:
age=24
print("My age is {0} years ".format(age))
print("There are {0} days in {1} ,{2},{3},{4},{5},{6} and {7} ".format(31,"jan ","Mar ","May ","jul ","Aug ","Oct ","dec "))
print("there are {0} days in jan,mar,may,jul,aug,oct,dec ".format(31))
print("jan:{2},feb:{0},Mar:{2},apr:{1},may:{2},Jun:{1},jul:{2},sep:{1},oct:{2} ".format(28,30,31))
print()
print("""jan:{2}
feb:{0}
mar:{2}
apr:{1}
may:{2}
june:{1}
july:{2}
sep:{1}
oct:{2}
nov:{1}
dec:{2} """.format(28,30,31))

My age is 24 years
There are 31 days in jan  ,Mar ,May ,jul ,Aug ,Oct  and dec
there are 31 days in jan,mar,may,jul,aug,oct,dec
jan:31,feb:28,Mar:31,apr:30,may:31,Jun:30,jul:31,sep:30,oct:31

jan:31
feb:28
mar:31
apr:30
may:31
june:30
july:31
sep:30
oct:31
nov:30
dec:31

In [13]:
for i in range(1,13):
    print("No,{0} squared is {1} and cubed is {2} ".format(i,i**2,i**3))
    print()
    print("No,{0:2} squared is {1:3} and cubed is {2:4} ".format(i,i**2,i**3))

No,1 squared is 1 and cubed is 1

No, 1 squared is   1 and cubed is    1
No,2 squared is 4 and cubed is 8

No, 2 squared is   4 and cubed is    8
No,3 squared is 9 and cubed is 27

No, 3 squared is   9 and cubed is   27
No,4 squared is 16 and cubed is 64

No, 4 squared is  16 and cubed is   64
No,5 squared is 25 and cubed is 125

No, 5 squared is  25 and cubed is  125
No,6 squared is 36 and cubed is 216

No, 6 squared is  36 and cubed is  216
No,7 squared is 49 and cubed is 343

No, 7 squared is  49 and cubed is  343
No,8 squared is 64 and cubed is 512

No, 8 squared is  64 and cubed is  512
No,9 squared is 81 and cubed is 729

No, 9 squared is  81 and cubed is  729
No,10 squared is 100 and cubed is 1000

No,10 squared is 100 and cubed is 1000
No,11 squared is 121 and cubed is 1331

No,11 squared is 121 and cubed is 1331
No,12 squared is 144 and cubed is 1728

No,12 squared is 144 and cubed is 1728

In [14]:
for i in range(1,13):
    print("No,{0:2} squared is {1:<3} and cubed is {2:^4}".format(i,i**2,i**3))

No, 1 squared is 1   and cubed is  1
No, 2 squared is 4   and cubed is  8
No, 3 squared is 9   and cubed is  27
No, 4 squared is 16  and cubed is  64
No, 5 squared is 25  and cubed is 125
No, 6 squared is 36  and cubed is 216
No, 7 squared is 49  and cubed is 343
No, 8 squared is 64  and cubed is 512
No, 9 squared is 81  and cubed is 729
No,10 squared is 100 and cubed is 1000
No,11 squared is 121 and cubed is 1331
No,12 squared is 144 and cubed is 1728

In [15]:
print()
print("pi is approximately {0:12}".format(22/7))
print("pi is approximately {0:12f}".format(22/7))
print("pi is approximately {0:12.50f}".format(22/7))
print("pi is approximately {0:52.50f}".format(22/7))
print("pi is approximately {0:62.50f}".format(22/7))
print("pi is approximately {0:72.50f}".format(22/7))
print("pi is approximately {0:<72.50f}".format(22/7))
print("pi is approximately {0:<72.54f}".format(22/7))

pi is approximately 3.142857142857143
pi is approximately     3.142857
pi is approximately 3.14285714285714279370154144999105483293533325195312
pi is approximately 3.14285714285714279370154144999105483293533325195312
pi is approximately           3.14285714285714279370154144999105483293533325195312
pi is approximately                     3.14285714285714279370154144999105483293533325195312
pi is approximately 3.14285714285714279370154144999105483293533325195312
pi is approximately 3.142857142857142793701541449991054832935333251953125000

In [16]:
for i in range(1,13):
    print("No,{} squared is {} and cubed is {:4}".format(i,i**2,i**3))

No,1 squared is 1 and cubed is    1
No,2 squared is 4 and cubed is    8
No,3 squared is 9 and cubed is   27
No,4 squared is 16 and cubed is   64
No,5 squared is 25 and cubed is  125
No,6 squared is 36 and cubed is  216
No,7 squared is 49 and cubed is  343
No,8 squared is 64 and cubed is  512
No,9 squared is 81 and cubed is  729
No,10 squared is 100 and cubed is 1000
No,11 squared is 121 and cubed is 1331
No,12 squared is 144 and cubed is 1728

In [17]:
name="Abhi"
greeting="70"
print(greeting+name)
print(greeting+" "+name)
age=24
print(age)
print(type(greeting))
print(type(age))
age_in_words="2 years"
print(name+f"is {age} years old")
print(f"pi is approximately {22/7:12.50f}")
pi=22/7
print(f"pi is approximately {pi:12.50f}")

70Abhi
70 Abhi
24
<class 'str'>
<class 'int'>
Abhiis 24 years old
pi is approximately 3.14285714285714279370154144999105483293533325195312
pi is approximately 3.14285714285714279370154144999105483293533325195312

In [18]:
age=24
print("My age  is %d years" % age )
major="years"
minor="Months"
print("My age is %d %s ,%d %s "% (age,major,6,minor))
print("PI is approximately %f " % (22/7))
print("PI  is approximately %60.50f " %(22/7))

My age  is 24 years
My age is 24 years ,6 Months
PI is approximately 3.142857
PI  is approximately         3.14285714285714279370154144999105483293533325195312

In [19]:
name=input("Please enter your name:")
age=int(input("how old are you,{0}".format(name)))
print(age)
if age>=18:
    print("You are old enough to vote ")
    print("Please put an x in the box")
else:
    print("please come back in {0} years.".format(18-age))
if age<18:
    print("Please come back in {0} years.".format(18-age))
else:
    print("You are old enough to vote")
    print("Please put an X in the box")

Please enter your name:
how old are you,6
6
please come back in 12 years.
Please come back in 12 years.

In [20]:
name=input("Please enter your name")
age=int(input("how old are you,{0}?".format(name)))
print(age)
if age<18:
    print('Please come back in {0} years'.format(18-age))
elif age==900:
    print("Sorry,yoda,You die in return of the jedi")
else:
    print("You are old enough to vote")
    print("Please put an x in the box")

Please enter your namebu
how old are you,bu?6
6
Please come back in 12 years

In [22]:
answer=5
print("Please guess number between 1 and 10")
guess=int(input())
if guess<answer:
    print('Please guess higher')
elif guess>answer:
    print("Please guess lower ")
else:
    print("you got it first time")

Please guess number between 1 and 10
4
Please guess higher

In [23]:
answer=5
print('Please guess number betwwn 1 and 10')
guess=int(input())
if guess<answer:
    print("Please guess higher")
    guess=int(input())
    if guess==answer:
        print("well done,you guessed it")
    else:
        print("sorry,you have not guessed correctly")
elif guess>answer:
    print("Please guesss lower")
    guess=int(input())
    if guess==answer:
        print("well done,you guessed it")
    else:
        print("sorry,you have not guessed correctly")
else:
    print("you got it first done")

Please guess number betwwn 1 and 10
8
Please guesss lower
8
sorry,you have not guessed correctly

In [24]:
answer=5
print("please guess between 1 and 10")
guess=int(input())
if guess != answer:
    if guess <answer:
        print('Please guess higher')
    else:
        print('Please guess lowewr')
    guess=int(input())
    if guess== answer:
        print("Well done,you guess it")
    else:
        print("Sorry,You have not guessed correctly")
else:
    print("You got it first time")

please guess between 1 and 10
8
Please guess lowewr
9
Sorry,You have not guessed correctly

In [25]:
answer=5
print("please gues between 1 and 10")
guess=int(input())
if guess==answer:
    print("You got it first")
else:
    if guess<answer:
        print("please guess higher")
    else:
        print("please guess lower ")
    guess=int(input())
    if guess==answer:
        print("well done,you guessed it")
    else:
    
        print("Sorry,you have not guessed correctly")

please gues between 1 and 10
7
please guess lower
6
Sorry,you have not guessed correctly

In [26]:
age=int(input("hpw old are you"))
if age>=16 and age <65:
    print("have a good day at work")

hpw old are you67

In [27]:
age=int(input('how old are you ?'))
if 16<=age <=65:
    print("have a good day at work")
else:
    print("Enjoy your free time ")
print("_"*80)
if age<16 or age>65:
    print("enjoy your free time")

how old are you ?67
Enjoy your free time
________________________________________________________________________________
enjoy your free time

In [28]:
day="friday"
temperature=30
raining=False
if (day=="Saturday" and temperature>27 or not raining):
    print("Go swimming")
else:
    print("Learn Python")

Go swimming

In [29]:
if 0:
    print("True")
else:
    print("False")
name=input("Please enter your name")
#if name:
if name !="":
    print("hello,{}".format(name))
else:
    print('Are you the man with no name?')
print()

False
Please enter your namebishal
hello,bishal

In [30]:
parrot="Norwegian Blue"
letter=input('Enter a charecters:')
if letter in parrot:
    
    print("{} is in {}".format(letter,parrot))
else:
    print("I don't need that letter ")

Enter a charecters:bishal
I don't need that letter

In [31]:
activity=input("wHAT Would you like to do today")
if "cinema" not in activity.casefold():
    print("but I want to go to the cinema ")

wHAT Would you like to do today i want to go to do today
but I want to go to the cinema

In [32]:
name=input('Please enter your name ')
age=int(input("how old are you"))
if 18<=age<31:
    print("welcome to club 18-30 holidays,{0}".format(name))
else:
    print("i'm sorry,our holidays are only for cool people ")

Please enter your name bishal
how old are you56
i'm sorry,our holidays are only for cool people

In [33]:
parrot="Norwegian Blue"
for charecter in parrot:
    print(charecter)

N
o
r
w
e
g
i
a
n

B
l
u
e

In [34]:
number="9,223;372:036 854,775;807"
separators=""
for char in number:
    if not char.isnumeric():
        separators=separators+char
print(separators)
values="".join(char if char not in separators else " " for char in number).split()
print([int(val) for val in values])

,;: ,;
[9, 223, 372, 36, 854, 775, 807]

In [35]:
for i in range(1,20):
    print("i is now {}".format(i))

i is now 1
i is now 2
i is now 3
i is now 4
i is now 5
i is now 6
i is now 7
i is now 8
i is now 9
i is now 10
i is now 11
i is now 12
i is now 13
i is now 14
i is now 15
i is now 16
i is now 17
i is now 18
i is now 19

In [36]:
for i in range(10,0,-2):
    print("i is now {}".format(i))

i is now 10
i is now 8
i is now 6
i is now 4
i is now 2

In [37]:
age=int(input("How old are you?"))
if age in range(16,66):
    print("Have a good day at work ")
else:
    print("Enjoy your free time")
print("_"*80)
if age<16 or age>65:
    print("Enjoy your free Time")
else:
    print("have a good day at work")

How old are you?56
Have a good day at work
________________________________________________________________________________
have a good day at work

In [38]:
for i in range(1,13):
    for j in range(1,13):
        print("{0} times {1} {2}".format(j,i,i*j))
    print("___________________________________-")

1 times 1 1
2 times 1 2
3 times 1 3
4 times 1 4
5 times 1 5
6 times 1 6
7 times 1 7
8 times 1 8
9 times 1 9
10 times 1 10
11 times 1 11
12 times 1 12
___________________________________-
1 times 2 2
2 times 2 4
3 times 2 6
4 times 2 8
5 times 2 10
6 times 2 12
7 times 2 14
8 times 2 16
9 times 2 18
10 times 2 20
11 times 2 22
12 times 2 24
___________________________________-
1 times 3 3
2 times 3 6
3 times 3 9
4 times 3 12
5 times 3 15
6 times 3 18
7 times 3 21
8 times 3 24
9 times 3 27
10 times 3 30
11 times 3 33
12 times 3 36
___________________________________-
1 times 4 4
2 times 4 8
3 times 4 12
4 times 4 16
5 times 4 20
6 times 4 24
7 times 4 28
8 times 4 32
9 times 4 36
10 times 4 40
11 times 4 44
12 times 4 48
___________________________________-
1 times 5 5
2 times 5 10
3 times 5 15
4 times 5 20
5 times 5 25
6 times 5 30
7 times 5 35
8 times 5 40
9 times 5 45
10 times 5 50
11 times 5 55
12 times 5 60
___________________________________-
1 times 6 6
2 times 6 12
3 times 6 18
4 times 6 24
5 times 6 30
6 times 6 36
7 times 6 42
8 times 6 48
9 times 6 54
10 times 6 60
11 times 6 66
12 times 6 72
___________________________________-
1 times 7 7
2 times 7 14
3 times 7 21
4 times 7 28
5 times 7 35
6 times 7 42
7 times 7 49
8 times 7 56
9 times 7 63
10 times 7 70
11 times 7 77
12 times 7 84
___________________________________-
1 times 8 8
2 times 8 16
3 times 8 24
4 times 8 32
5 times 8 40
6 times 8 48
7 times 8 56
8 times 8 64
9 times 8 72
10 times 8 80
11 times 8 88
12 times 8 96
___________________________________-
1 times 9 9
2 times 9 18
3 times 9 27
4 times 9 36
5 times 9 45
6 times 9 54
7 times 9 63
8 times 9 72
9 times 9 81
10 times 9 90
11 times 9 99
12 times 9 108
___________________________________-
1 times 10 10
2 times 10 20
3 times 10 30
4 times 10 40
5 times 10 50
6 times 10 60
7 times 10 70
8 times 10 80
9 times 10 90
10 times 10 100
11 times 10 110
12 times 10 120
___________________________________-
1 times 11 11
2 times 11 22
3 times 11 33
4 times 11 44
5 times 11 55
6 times 11 66
7 times 11 77
8 times 11 88
9 times 11 99
10 times 11 110
11 times 11 121
12 times 11 132
___________________________________-
1 times 12 12
2 times 12 24
3 times 12 36
4 times 12 48
5 times 12 60
6 times 12 72
7 times 12 84
8 times 12 96
9 times 12 108
10 times 12 120
11 times 12 132
12 times 12 144
___________________________________-

In [39]:
shopping_list=["milk","pasta","eggs","spam","bread","rice"]
for item in shopping_list:
    print("Buy "+item)

Buy milk
Buy pasta
Buy eggs
Buy spam
Buy bread
Buy rice

In [40]:
shopping_list=["milk","pasta","eggs","spam","bread","rice"]
for item in shopping_list:
    if item !="spam":
        print("Buy "+item)

Buy milk
Buy pasta
Buy eggs
Buy bread
Buy rice

In [41]:
for item in shopping_list:
    if item =="spam":
        continue
    print("Buy "+item)

Buy milk
Buy pasta
Buy eggs
Buy bread
Buy rice

In [42]:
for item in shopping_list:
    if item == "spam":
        break
    print("Buy "+item)

Buy milk
Buy pasta
Buy eggs

In [43]:
item_to_find="spam"
found_at=None
for index in range(len(shopping_list)):
    if shopping_list[index]==item_to_find:
        found_at=index
print("Item found at position {}".format(found_at))

Item found at position 3

In [46]:
shopping_list=["milk","pasta","eggs","spam","bread","rice"]
item_to_find="albatross"
found_at=None
#for index in range(len(shopping_list)):
 #   if shopping_list[index]==item_to_find:
  #      found_at=index
   #     break
if found_at is not None:
    print("Item found at position {} ".format(found_at))