In [1]:
import pandas as pd

In [2]:
s=pd.Series()
print(s)

Series([], dtype: float64)

<ipython-input-2-f8daae661c20>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s=pd.Series()

In [3]:
import pandas as pd
import numpy as np
data=np.array(["a","b","c","d"])
s=pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [4]:
import pandas as pd
import numpy as np
data=np.array(["a","b","c","d"])
s=pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [5]:
import pandas as pd
import numpy as  np
data={"a":0,"b":1,"c":2}
s=pd.Series(data)
print(s)

a    0
b    1
c    2
dtype: int64

In [6]:
import pandas as pd
import numpy as  np
data={"a":0,"b":1,"c":2}
s=pd.Series(data,index=["b","c","d","a"])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [7]:
import pandas as pd
import numpy as np
s=pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [8]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])
print(s[0])
print(s[:3])
print(s[-3:])

1
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64

In [9]:
print(s["a"])

1

In [10]:
print(s[["a","b","e"]])

a    1
b    2
e    5
dtype: int64

In [13]:
print(s["d"])

4

In [14]:
import pandas as pd

In [15]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [18]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [20]:
import pandas as pd
data=[["Alex",10],["Bob",12],["Clarke",13]]
df=pd.DataFrame(data,columns=["Name","Age"],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [26]:
import pandas as pd
data={"Name":["Tom","Jack","Steve","Ricky"],"Age":[28,34,29,42]}
df=pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [27]:
import pandas as pd
data={"Name":["Tom","Jack","Steve","Ricky"],"Age":[28,34,29,42]}
df=pd.DataFrame(data,index=["rank1","rank2","rank3","rank4"])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [28]:
data=[{"a":1,"b":2},{"a":5,"b":10,"c":20}]
df=pd.DataFrame(data,index=["first","second"])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [29]:
import pandas as pd
data=[{"a":1,"b":2},{"a":5,"b":10,"c":20}]
df1=pd.DataFrame(data,index=["First","Second"],columns=['a',"b"])
print(df1)

        a   b
First   1   2
Second  5  10

In [30]:
df2=pd.DataFrame(data,index=["First","Second"],columns=['a',"b1"])
print(df2)

        a  b1
First   1 NaN
Second  5 NaN

In [33]:
d={"one":pd.Series([1,2,3],index=["a","b","c"]),
  "two":pd.Series([1,2,3,4],index=["a","b","c","d"])}
df=pd.DataFrame(d)
print(df["one"])
print(df[["one","two"]])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [34]:
d={"one":pd.Series([1,2,3],index=["a","b","c"]),
  "two":pd.Series([1,2,3,4],index=["a","b","c","d"]),
  "three":pd.Series([10,20,30],index=["a","b","c"])}
df=pd.DataFrame(d)
print("our dataframe is:")
print(df)

our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [35]:
del df["one"]
print(df)

   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN

In [36]:
df.pop("two")
print(df)

   three
a   10.0
b   20.0
c   30.0
d    NaN

In [37]:
d={"one":pd.Series([1,2,3],index=["a","b","c"]),
  "two":pd.Series([1,2,3,4],index=["a","b","c","d"])}
df=pd.DataFrame(d)
print(df.loc["b"])

one    2.0
two    2.0
Name: b, dtype: float64

In [38]:
print(df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [40]:
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [41]:
df=pd.DataFrame([[1,2],[3,4]],columns=["a","b"],index=[1,2])
df1=pd.DataFrame([[5,6],[7,8]],columns=["a","b"],index=[3,4])
df=df.append(df1)
print(df)

   a  b
1  1  2
2  3  4
3  5  6
4  7  8

In [42]:
df=pd.DataFrame([[1,2],[3,4]],columns=["a","b"])
df1=pd.DataFrame([[5,6],[7,8]],columns=["a","b"])

df=df.append(df1)
print(df)
df1=df.drop(0)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
   a  b
0  1  2
1  3  4
0  5  6
1  7  8